<%- include("header") -%>

<h1>About</h1>

<p>Hi this ToDo List was developed by Jahnavi. I used Google keep as some inspiration. And this is just a trial project that i decided to do in quarantine.
    thanks!
</p>

<%- include("footer") -%>